.pic {
    border-radius: 10%;
    height: 200px;
}

#pin {
    color: red;
}


.abt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 0px 20px;
    margin: 50px;
}


.head {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 20px;
}